<hr>

<br><br>

<div class="row">
  <div class="col-md-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="max-height: 100px;">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Ingredients
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <p>
      <button type="submit" class="btn btn-success">Add to shooping list</button>
    </p>
    <p>
      <button type="button" class="btn btn-primary">Edit recipe</button>
    </p>
    <p>
      <button type="button" class="btn btn-danger">Delete recipe</button>
    </p>
  </div>
</div>
